@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cBlack: #222327;
    --cGray: #363636;
    --cYellow: #F6AB2B;
    --cPurple: #7231BE;
    --cWhite: #e0e0e0;
    --cDark: #161618;
}

@layer utilities {

    .clip-footer {
 
        clip-path: polygon(0 80%, 100% 0%, 100% 100%, 0% 100%);
 
    }
 
 }

 /* Hiding scrollbar for Chrome, Safari and Opera */
.yellow-text::-webkit-scrollbar {
    display: none;
}

/* Hiding scrollbar for IE, Edge and Firefox */
.yellow-text {
  scrollbar-width: none;  /*Firefox*/
  -ms-overflow-style: none;  /* IE and Edge*/
}